/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
.search-form{
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: rgb(152, 205, 226);
}
.search-field{
  width: 400px;
  height: 40px;
  margin-right: 5px;
  border-color: rgb(8, 163, 224);
  border-radius: 3px;
}
.search-field:focus{
  background-color: paleturquoise;
}
.search-btn, .load-more{
  background-color: orange;
  border: rgb(8, 163, 224);
  border-radius: 3px;
  width: 100px;
}
// .gallery{
//   overflow: hidden;
//   border-radius: 5px;
// }

.list-gallery {
  margin-top: 0;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-list {
  border: 1px solid rgb(229, 226, 226);
  margin: 0;

  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.card-list:not(:nth-child(4n+0)){
  margin-right: 10px;
}
.info {
  display: flex;
  justify-content: space-around;

}
.info-item {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 14px;
  color: darkblue;
}
img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.load-more{
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
 
}
.load-more.hidden {
  display: none;
}